body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #4dadfe;
  --bg-accent: #484a4d;
  --nav-size: 4rem;
  --border: 1px solid #7ebfff;
  --border-radius: 8px;
  --speed: 500ms;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

// body::-webkit-scrollbar {
//   width: 0.75rem;
// }

// body::-webkit-scrollbar-track{
//   background: rgb(212, 212, 212);
// }

// body::-webkit-scrollbar-thumb {
//   background: rgb(56, 56, 56);
//   border-radius: 5px;
//   width: 3px;
// }

.welcome {
  height: 100vh;
  width: 100vw;
  background-color: #4dadfe;
  animation-name: opening;
  animation-duration: 4.25s;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  z-index: 300;
  overflow: hidden;
  animation-fill-mode: forwards;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 4rem;
    color: white;
    margin: 0;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  h1:first-child {
    animation-name: fade;
    animation-duration: 2s;
  }
  h1:nth-child(2) {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: .5s;
  }
  h1:nth-child(3) {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1s;
  }
  h1:last-child {
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1.5s;
  }
}

@keyframes opening {
  90%{opacity: 1; visibility: visible;}
  100% {opacity: 0; visibility: hidden;}
}

@keyframes fade {
  100%{opacity: 1;}
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 5vw 0 1rem;
  border-bottom: var(--border);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  width: calc(var(--nav-size) * 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-open {
  transition: 600ms;
}

.icon-button {
  --button-size: calc(var(--nav-size) * .80);
  width: var(--button-size);
  height: var(--button-size);
  background-color: white;
  border-radius: 25%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  filter: brightness(1.2);
  transition: 300ms;
  color: white;
  background-color: var(--bg-accent);
}

.icon-button svg {
  color: rgb(37, 186, 255);
  height: 30px;
  width: 30px;
}

.icon-button:hover svg {
  color: white;
}

.dropitem:hover .icon-button{
  transition: 600ms;
  background-color: var(--bg-accent);
  color: white;
}

.dropitem:hover .icon-button svg{
  transition: 600ms;
  color: white;
}

.icon-button.dropleft {
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.icon-button.dropdown {
  transition: 200ms ease-in-out;
  transform: rotate(-90deg);
  cursor: pointer;
}

.logo {
  margin-right: auto;
  height: 90px;
  width: 115px;
  color: white;
}

.dropmenu {
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  background-color:#4dadfe;
  border-radius: 10px;
  z-index: 0;
}

.dropmenu.closed {
  pointer-events: none;
  transition: 200ms ease;
  opacity: 0;
  transform: translateY(-1vh)
}

.dropmenu.open {
  transition: 200ms ease;
  opacity: 1;
  transform: translateY(0)
}

.dropitem {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  color: white;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.hoolibg {
  background-image: url('./images/splash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  svg {
    width: 20vw;
  }
  h3 {
    margin: 0;
  }
}

.sectionOne {
  padding: 1rem 3rem;
  background-color: #f84d2f;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.people svg {
  color: white;
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
}

.gavinbg {
  background-image: url('./images/gavin-construction.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.sectionTwo {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.25rem;
  background-color: rgb(37, 36, 36);
  color: white;
}

.section-two-content {
  width: 50vw;
  padding: 1rem 3rem;
}

.section-two-picture {
  background-image: url('./images/gavin-endframe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
}

.walls {
  background-image: url('./images/walls.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.sectionThree {
  padding: 1rem 3rem;
  background-color: #ffde00;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.world svg {
  color: white;
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
}

.hooliend {
  background: url('./images/hooli-end.png') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 0;
  padding-top: 53.90%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
  height: 15rem;
  background-color: rgb(37, 186, 255);
  padding: 3vh 3vw;
}

.portrait {
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: inline-block;
  background-image: url('./images/gavin-portrait.jpg');
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.signature {
  background-image: url('./images/signature.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20rem;
  height: 10rem;
  margin-left: 2rem;
}

.display-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.display-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}

.display-exit {
  opacity: 0;
  transform: translateY(-10%);
  transition: .3s ease-in-out;
}

.display-exit-active {
  opacity: 0;
  transform: translateY(10%);
  transition: .3s ease-in-out;
  transition: opacity 300ms, transform 300ms;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
  .hoolibg {
    svg {
      width: 30vw;
    }
    h3 {
      font-size: 3vw;
    }
  }

  .footer {
    height: initial;
    flex-direction: column;
    p, h2 {
      font-size: .75rem;
    }
    .portrait {
      min-height: 10rem;
    }
  }
} 